<section class="author post-meta">
    <h4>{{author.name}}</h4>
    <img src="{{author.image}}" class="post-author-image" alt="Author image: {{author.name}}" align="left">
    <p>{{author.bio}}</p>
</section>