<ul class="nav nav-pills pull-right header-social">
    <li>
        <a class="icon-twitter" target="_blank" href="https://twitter.com/ArthurAuthor"><span class="hidden">Twitter</span></a>
    </li>
    <li>
        <a class="icon-facebook" target="_blank" href="https://www.facebook.com/ArthurAuthor"><span class="hidden">Facebook</span></a>
    </li>
    <li>
        <a class="icon-google-plus" target="_blank" href="https://plus.google.com/u/0/+ArthurKhachatryan-LA"><span class="hidden">Google+</span></a>
    </li>      
</ul>